<div class="card bg-dark text-white">
  <div class="card-header">
    {{titulo}}
  </div>
  <div class="card-body">
    <form #clienteForm ="ngForm">
     
      <div class="form-group row">
       <label for="nombre" class="col-form-label col-sm-2" >Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" required minlength="4" #nombre="ngModel">
        </div>       
      </div>
      <div class="alert alert-danger col-sm-offset-2 col-sm-6" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" >
        <div class="" *ngIf="nombre.errors.required">
            Nombre es requerido
        </div>
        <div *ngIf="nombre.errors.minlength">
          El nombre debe tener 4 caracteres omas
      </div>

      </div>

      <div class="form-group row">
       <label for="apellido" class="col-form-label col-sm-2" col-sm-2>Apellido</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" required #apellido="ngModel">
        </div>
        <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" >
          <div *ngIf="apellido.errors.required">
              El apellido es requerido
          </div>
        </div>    
      </div>

      <div class="form-group row">                       
       <label for="email" class="col-form-label col-sm-2" >Email</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" required email #email="ngModel">
        </div>

        <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)" >
          <div *ngIf="email.errors.required">
              El email es requerido
          </div>
          <div *ngIf="email.errors.email">
            El email debe tener un formato valid epp@fff.com
        </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary"  role="button" name="button" (click)='create()' *ngIf="!cliente.id else elseBlock" [disabled]="!clienteForm.form.valid">Crear </button>
          <ng-template #elseBlock>
            <button class="btn btn-primary"  role="button" name="button" (click)='update()' [disabled]="!clienteForm.form.valid">Editar</button>
          </ng-template>
        </div>

      </div>
    </form>
  </div>

</div>
